/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* cursive  */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.f-azeret-mono {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: rgb(8, 8, 8)
}
.title {

}
.description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 25px 0;
}
.btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
   
}
.container {
    width: 1140px;
    margin: auto;
    /* margin: 40px auto;
    padding: 60px 0; */
}
:root {
    --f-inter: "Inter", sans-serif;
    --f-cursive: "Grey Qo", cursive;
    /* color  */
    --dark : rgb(185, 185, 185);
}

/* Navbar  */
#banner {
    /* background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119,0.99)100%); */
    /* background: radial-gradient(circle, rgb(32, 32, 32),rgb(92, 90, 90), rgb(32, 32, 27)); */
    height: 100vh;
}
nav {

}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
#nav-logo {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    font-style: italic
}
.nav-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 25px;
    border-radius: 40px 
}
.nav-container ul li {
    list-style-type: none;
}
.nav-container ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.nav-container ul li:first-child {
    padding: 11px 25px;
    border-radius: 40px;
    background-color: tomato
}

/* hero-banner */
#hero-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 200px;
}

#hero-banner .hero-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 45px;
}
#hero-banner .hero-title span {
    font-family: var(--f-cursive);
    font-size: 100px;
    letter-spacing: 5px;
}
#hero-banner .cta-download {
    background: transparent;
    border: 1px solid gray;
    margin-left: 30px;
}
#hero-banner .hero-banner-data div:last-child {
    /* margin-top: 25px !important; */
}

#hero-banner .hero-img{
    /* height: 580px;
    width: 350px; */
    position: relative;
}
#hero-banner .hero-img img{
    height: 580px;
    width: 350px;
}
#hero-banner .hero-img .hero-rectangle1{
    position: absolute;
    width: 193px;
    height: 98px;
    right: -53px;
    top: 115px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
#hero-banner .hero-img .hero-rectangle1 h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}
#hero-banner .hero-img .hero-rectangle1 p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

#hero-banner .hero-img .hero-rectangle2{
    position: absolute;
    width: 206px;
    height: 96px;
    left: -109px;
    top: 394px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
#hero-banner .hero-img .hero-rectangle2 h3 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
#hero-banner .hero-img .hero-rectangle2 p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}